﻿<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
		<title>Perfil usuario</title>

		<meta name="description" content="3 styles with inline editable feature" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

		<!-- bootstrap & fontawesome -->
		<link rel="stylesheet" href="assets/css/bootstrap.min.css" />

		<!-- ace styles -->
		<link rel="stylesheet" href="assets/css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style" />
   
   		<link rel="stylesheet" href="http://bxslider.com/lib/jquery.bxslider.css" type="text/css">
	</head>
	<body class="no-skin">
		<div id="navbar" class="navbar navbar-default">
			<div class="navbar-container" id="navbar-container">

				<div class="navbar-buttons navbar-header pull-right" role="navigation">
					<ul class="nav ace-nav">
						<a href="#" class="dropdown-toggle">
							<span class="user-info">
									<p><a href="#/login" class="btn btn-primary">Logout</a></p>
								</span>
							<i class="ace-icon fa fa-caret-down"></i>
						</a>						
					</ul>
				</div>
			</div>
		</div>

		<div class="tab-content no-border padding-24">
			<div id="home" class="tab-pane in active">
				<div class="row">
					<div class="col-xs-12 col-sm-3 center">
						<span class="profile-picture">
							<img id='imagen_usuario' class="editable img-responsive" src="{{vm.foto}}"/>
						</span>

						<div class="space space-4"></div>

					</div>

					<div class="col-xs-12 col-sm-9">
						<h4 class="blue">
							<span  id="message" class="middle"></span>

						</h4>

						<div class="profile-user-info">

							<div class="profile-info-row">
							<div class="profile-info-name"> Nombre </div>

								<div  class="profile-info-value">
									<span id="name"> {{vm.user}}</span>
								</div>
							</div>

							<div class="profile-info-row">
								<div class="profile-info-name"> Edad </div>

								<div  class="profile-info-value">
									<span id="age"> {{vm.edad}}</span>
								</div>
							</div>

							<div class="profile-info-row">
								<div class="profile-info-name"> Dirección </div>

								<div  class="profile-info-value">
									<span id="address"> {{vm.direccion}}</span>
								</div>
							</div>
						</div>
						<div class="hr hr-8 dotted"></div>
						<div class="col-xs-12">
							<h3 class="header smaller lighter blue">Imagenes de galería</h3>
							<div class="container">
								<ul class="bxslider"></ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="http://bxslider.com/lib/jquery.bxslider.js"></script>




  


