﻿<div class="col-md-6 col-md-offset-3">
    <h2>Login</h2>

    <form name="form" ng-submit="vm.login()" role="form">

        <div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
            <label for="username">Usuario</label>
            <input type="text" name="username" id="username" class="form-control" ng-model="vm.username" required />
            <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Ingrese usuario</span>
        </div>

        <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
            <label for="password">Contraseña</label>
            <input type="password" name="password" id="password" class="form-control" ng-model="vm.password" required />
            <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Ingrese contraseña</span>
        </div>

        <div class="form-actions">
            <button type="submit" class="btn btn-primary pull rigth">Login</button>
        </div>
    </form>
</div>
